.stack {
  padding: var(--space-sm) 0;
}

.stack > * + * {
  margin-top: var(--stack-space, 1em);
}

.subtitle {
  --stack-space: 0.2em;
}

.publish {
  display: flex;
  gap: 0.5en;
  color: var(--gray-50);
  font-size: var(--small-heading3);
}
